.header{
	position: relative;
	min-height: 100vh;
	padding-top: 7rem;
	text-align: center;
}


.cta{
	margin-top: 2.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}

.cta > a{
	text-shadow: -1px 0 0 var(--color-black);
	letter-spacing: 1px;
}

.socials{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:1rem;
	position: absolute;
	left: 0;
	bottom: 0;
}
.socials > a{
	filter: drop-shadow(1px 0px 0px var(--color-black));
	width: 45px;
	height: 45px;
}
.socials >a:hover,
.socials >a:focus-visible{
	box-shadow: 0 0 5px 10px #ffffff82;
	border-radius: 50%;
}

.socials__icon{
	width: 100%;
	height: 100%;
}
.socials__icon path{
	width: 100%;
	height: 100%;
}

.me{
	position: relative;
	width: 100%;
	margin-top: 4rem;
	display: flex;
	justify-content: center;
}

.me__img-box{
	background: linear-gradient(var(--color-primary),black);
	width: 80%;
	max-width: 30rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	overflow: hidden;
	padding: 3rem 0 0;;
}
.me__img-box > img{
	filter: drop-shadow(2px 4px 6px black);
}

.scroll__down{
	position: absolute;
	right: 0;
	bottom: 3rem;
	transform: rotate(90deg);
	font-weight: 600;
	font-size: 1.2rem;
	color: #4db5ff;
	text-shadow: -1px -1px 0 black;
}
.scroll__down:hover,
.scroll__down:focus-visible{
	color: var(--color-white);
}


@media screen and (max-width: 1024px){
	.header{
		height: 68vh;
	}
}

@media screen and (max-width: 600px){
	.header{
		height: 100vh;
	}
	.socials, .scroll__down{
		display: none;
	}
}

@media screen and (max-width: 480px){
	.me__img-box{
		width: 90%;
		aspect-ratio: 1/1.8;
		max-height: 500px;
		border-radius: 12rem;
	}
}

@media screen and (max-width: 320px){
	.cta{
		flex-direction: column;
		align-items: center;
	}
}