@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: 0;
	list-style: none;
	text-decoration: none;
}

:root {
	--color-bg-from: #244fc0;
	--color-bg-to: #1e3c72;
	--color-primary: #6cbbf3;
	--color-primary-variant: rgba(77, 181, 255, 0.4);
	--color-white: #fff;
	--color-black: #000;
	--color-greylight: rgba(255, 255, 255, 0.6);
	
	--transition: all 0.2s ease;
	
	--container-width-screen-lg: 75%;
	--container-width-screen-md: 86%;
	--container-width-screen-sm: 90%;
}

html {
	min-height: 100vh;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

body {
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background-color: var(--color-bg-to);
	background-color: -webkit-linear-gradient(to top, var(--color-bg-from), var(--color-bg-to));
	background-color: linear-gradient(to top, var(--color-bg-from), var(--color-bg-to));
	background-image: url('../src/assets/close.png'), linear-gradient(to top, var(--color-bg-from), var(--color-bg-to));
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--color-white);
	line-height: 1.7;
}

.container {
	width: var(--container-width-screen-lg);
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
	font-weight: 500;
	text-transform: capitalize;
}

h1 {
	font-size: 2.5rem;
}

section {
	padding-top: 4rem;
	padding-bottom: 8rem;
}

section > h2 {
	text-align: center;
	color: var(--color-primary);
	margin-bottom: 3rem;
}

section > h5 {
	text-align: center;
	color: var(--color-greylight)
}

.text-light {
	color: var(--color-greylight)
}

a {
	display: inline-block;
	color: var(--color-primary);
	transition: var(--transition);
}

a > svg:hover,
a > svg:focus-visible{
	fill: var(--color-white);
}

.btn {
	width: max-content;
	display: inline-block;
	color: var(--color-primary);
	padding: 0.75rem 1.2rem;
	border-radius: 0.4rem;
	bottom: 1px solid var(--color-primary);
	transition: var(--transition);
}

.btn:hover,
.btn:focus-visible{
	background: var(--color-white);
	color: var(--color-bg-from);
	border-color: transparent;
}


.btn-primary {
	background: var(--color-primary);
	color: var(--color-bg-from);
}

.pre-title{
	text-align: center;
	text-transform: capitalize;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-position: top;
	object-fit: cover;
}

@media screen and (max-width: 1024px){
	.container {
		width: var(--container-width-screen-md);
		margin: 0 auto;
	}
	section{
		padding-bottom: 6rem;
	}
}

@media screen and (max-width: 600px){
	.container {
		width: var(--container-width-screen-sm);
		margin: 0 auto;
	}
	section > h2{
		padding-bottom: 2rem;
	}
}