nav {
	position: fixed;
	left: 50%;
	width: max-content;
	display: flex;
	gap: 0.8rem;
	padding: 0.7rem -1.7rem;
	z-index: 2;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.3);
	bottom: 3rem;
	border-radius: 3rem;
	backdrop-filter: blur(15px);
}

nav a {
	background: transparent;
	padding: 0.9rem;
	border-radius: 50%;
	display: flex;
	color: var(--color-greylight);
	font-size: 1.1rem;
}

nav a:hover{
	background: var(--color-white);
}

nav a:hover svg{
	fill: var(--color-black);
}

nav a.active {
	background: var(--color-bg-from);
	color: var(--color-white)
}

nav a:active{
	background: var(--color-bg-from);
}

nav a:active svg{
	fill: var(--color-white);
}
